{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <div class="mt-5">
        <h1 class="text-primary text-center">Prochainement disponible</h1>
        <h2 class="text-secondary text-center">Systeme de réservation d'hotel</h2>

        <div class="d-flex justify-content-center"></div>
    </div>
</div>
{% endblock %}
