{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="mt-5">
        <div class="container-lg">
            <h1>Ajouter des Infos sur votre Établissement</h1>
            <hr>

            language
            pictures
            url
            breakfast
        </div>
    </div>

{% endblock %}
