@import "~bootstrap/scss/bootstrap.scss";
/* Option 2: Import via CSS */

body {
    background-color: lightgray;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.limited-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}