{% extends 'base.html.twig' %}

{% block title %}Hello BedroomController!{% endblock %}

{% block body %}
    <div class="container-lg">
        <div class="d-flex justify-content-center align-items-center">
            <a href="{{ path('app_home') }}">HOME</a>
        </div>
    </div>
{% endblock %}
